<h1 class="text-center fs-1 fw-bold">ToDo List</h1>

<div class="container">
  <div class="row justify-content-md-center">
    <div class="col col-lg-3">
      <form class="d-flex justify-content-center flex-col" (ngSubmit)="onSubmit(taskForm)" #taskForm="ngForm">
        <div class="text-center mb-3">
          <label for="task" class="form-label fs-5">New Task</label>
          <input type="text" class="form-control" id="task" placeholder="Enter new task.." ngModel name="task" required="">
          <div *ngIf="taskForm.invalid && taskForm.dirty" id="errorMsg" class="form-text text-danger">Please insert new task.</div>
        </div>
        <button [disabled]="taskForm.invalid" id="submitBtn" type="submit" class="btn btn-outline-dark">Add Task</button>
      </form>

      <table class="table table-hover mt-5">
        <thead>
          <tr>
            <th scope="col">Task</th>
            <th scope="col">isCompleted</th>
            <th scope="col">Trash</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let x of arrTasks; index as i" class="align-middle">
            <td>{{ x.name }}</td>
            <td><div class="form-check d-flex justify-content-center mb-0 ps-0"><input (change)="onCheck(i)" class="form-check-input" type="checkbox" role="switch" id="check"></div></td>
            <td><button class="btn btn-outline-danger py-1 px-2" (click)="onDelete(i)"><i class="bi bi-trash3"></i></button></td>
          </tr>
        </tbody>

      </table>
    </div>
  </div>
</div>
